In [1]:
import pandas as pd

In [36]:
movies = pd.read_csv(r'G:\My Drive\comp_sci\AI\CS50 Intro to AI\Search\degrees\small\movies.csv')
people = pd.read_csv(r'G:\My Drive\comp_sci\AI\CS50 Intro to AI\Search\degrees\small\people.csv')
stars = pd.read_csv(r'G:\My Drive\comp_sci\AI\CS50 Intro to AI\Search\degrees\small\stars.csv')

In [37]:
people.columns = ['person_id', 'name', 'birth']
movies.columns = ['movie_id', 'title', 'year']

In [38]:
stars = stars.merge(people, 'left', 'person_id').merge(movies, 'left', 'movie_id')
stars = stars[['name', 'title']]
stars.columns = ['actor', 'movie']

In [39]:
stars.head()

         actor               movie
0  Kevin Bacon      A Few Good Men
1  Kevin Bacon           Apollo 13
2   Tom Cruise      A Few Good Men
3   Tom Cruise            Rain Man
4   Cary Elwes  The Princess Bride

In [52]:
class Network:

    def __init__(self, actor, stars):
        self.actor = actor
        self.stars = stars
        self.frontier = [self.Movie(moviename, list(stars.groupby('movie').get_group(moviename)['actor'])) 
                         for moviename in stars.groupby('actor').get_group(actor)['movie']]

    class Movie:

        def __init__(self, name, cast):
            self.name = name
            self.cast = cast
    
    def find_degrees(self, target_actor):

In [55]:
network = Network('Kevin Bacon', stars)
network.__dict__['frontier'][0].__dict__

{'name': 'A Few Good Men',
 'cast': ['Kevin Bacon', 'Tom Cruise', 'Demi Moore', 'Jack Nicholson']}